@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
/* Header */
.main-navigation a {
  @apply mx-4 p-2;
}
.active,
.active-menu-item {
  @apply text-bensonpink;
}

.article-body p {
  @apply my-3.5;
}

/* Social Icons */
.social-icons a {
  @apply m-0 text-3xl leading-none transition-transform duration-300 ease-in-out origin-center transform hover:scale-150;
  padding: 5px;
}

/* SCROLL BAR Styling  */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec2c7c;
  border-radius: 10px;
}

.button {
  background: linear-gradient(to right, #ec2c7c 50%, #fff 50%) right;
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.7s ease-out;
}

.button:hover {
  background-position: left;
}

/* CONTACT PAGE */
.contact-form {
  @apply font-roboto;
}

.contact-form label {
  @apply text-xl text-bensongrey mb-4;
}

.contact-form input,
.contact-form input::placeholder,
.contact-form textarea,
.contact-form textarea::placeholder {
  @apply text-2xl text-bensonblack border-bensonpink border-b;
}

.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  outline: none;
}

.row {
  @apply flex flex-wrap;
}

.column {
  @apply flex flex-col;
}

article {
  @apply font-slab text-lg;
}
